<!DOCTYPE html>

<html>

<head>

    <!-- ------- METADATA ------- -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ------- TITLE ------- -->
    <title>EHA Template</title>

    <!-- ------- CSS ------- -->
    <link href="style.css" rel="stylesheet">

    <!-- ------- FONTS ------- -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- ------- FAVICON ------- -->
    <link rel="icon" href="assets/favicon.ico">

</head>

<body>

    <!-- ------- HEADER ------- -->
    <header id="navbar">

        <div id="headerContent">
            
            <a class="aNone" href="index.html">
                <div id="logo">
                    <img class="logoImage" src="assets/logo.svg">
                    <img class="logoTitle" src="assets/logoTitle.svg">
                </div>
            </a>

            <div class="headerAnchors">

                <a href="#" class="aAnchors">Representações</a>
                <a href="#" class="aAnchors">Escalas</a>
                <a href="#" class="aAnchors">Refêrencias</a>
                <a href="#" class="aAnchors">Sobre</a>

            </div>

            <input id="menuToggle" class="menuToggle" type="checkbox">
            <label for="menuToggle">
                <div class="headerHamburger">
                    <img id="hamburgerIcon" src="assets/hamburger.svg">
                    <img id="closeIcon" src="assets/close.svg">
                </div>
            </label>

            <div class="mobileMenu" id="mobileMenu">

                <a href="#" class="aAnchors">Representações</a>
                <a href="#" class="aAnchors">Escalas</a>
                <a href="#" class="aAnchors">Refêrencias</a>
                <a href="#" class="aAnchors">Sobre</a>

            </div>

        </div>

    </header>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- ------- JS ------- -->
    <script src="script.js"></script>
</body>

</html>