<!DOCTYPE html>

<html>

<head>

    <!-- ------- METADATA ------- -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ------- TITLE ------- -->
    <title>EHA Template</title>

    <!-- ------- CSS ------- -->
    <link href="style.css" rel="stylesheet">

    <!-- ------- FONTS ------- -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- ------- FAVICON ------- -->
    <link rel="icon" href="assets/favicon.ico">

</head>

<body>

    <!-- ------- HEADER ------- -->
    <header id="navbar">

        <div id="headerContent">
            
            <a class="aNone" href="index.html">
                <div id="logo">
                    <img class="logoImage" src="assets/logo.svg">
                    <img class="logoTitle" src="assets/logoTitle.svg">
                </div>
            </a>

            <div class="headerAnchors">

                <a href="#" class="aAnchors">Representações</a>
                <a href="#" class="aAnchors">Escalas</a>
                <a href="#" class="aAnchors">Refêrencias</a>
                <a href="#" class="aAnchors">Sobre</a>

            </div>

            <input id="menuToggle" class="menuToggle" type="checkbox">
            <label for="menuToggle">
                <div class="headerHamburger">
                    <img id="hamburgerIcon" src="assets/hamburger.svg">
                    <img id="closeIcon" src="assets/close.svg">
                </div>
            </label>

            <div class="mobileMenu" id="mobileMenu">

                <a href="#" class="aAnchors">Representações</a>
                <a href="#" class="aAnchors">Escalas</a>
                <a href="#" class="aAnchors">Refêrencias</a>
                <a href="#" class="aAnchors">Sobre</a>

            </div>

        </div>

    </header>
    
    <!-- ------- SECTION 1 ------- -->
    <section class="section1">

        <div class="section1Content">

            <div class="section1Left">
                <h1 class="section1h1">Section 1 Template</h1>
                <p class="section1p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only <b class="bOrange">five centuries</b>, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>

            <div class="section1Right">
                <img class="section1Image" src="assets/gargantua.jpg">
                <p class="imageLegend">Gargantua do filme <b class="bOrange">Interestelar</b></p>
            </div>

        </div>

    </section>    
    
    
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- ------- JS ------- -->
    <script src="script.js"></script>
</body>

</html>
