/* ======= GENERAL ======= */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #090000;
    margin-top: 70px;
}

#headerContent, .section1Content {
    max-width: 1280px;
    margin: auto;
    width: 90%;
}

/* ======= SELECTION ======= */
::selection {
    background: white;
    color: #090000;
}

/* ======= TEXT ======= */
.aNone {
    text-decoration: none;
}

.aAnchors {
    font-size: 1.3em;
    font-weight: 500;
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    color: #090000;
}

.aAnchors:hover {
    background-color: #820500;
    color: white;
}

h1 {
    font-size: 1.9em;
}

.imageLegend {
    font-size: 1.2em;
    float: right;
}

.bOrange {
    color: #DB832D;
}

.bRed {
    color: #820500;
}
/* ======= HEADER ======= */
header {
    background-color: white;
    height: 70px;
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    transition: top 0.3s;
}

.headerAnchors {
    float: right;
}

.headerHamburger {
    display: none;
    padding: 4.5px;
}

#hamburgerIcon {
    display: block;
    height: 45px;
}

#closeIcon {
    display: none;
    height: 45px;
}

.mobileMenu {
    display: none;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 70px;
    left: 0;
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ .mobileMenu{
    display: block;
}

@media screen and (max-width: 1100px) {
    .headerAnchors {
        display: none;
    }

    .headerHamburger {
        display: block;
        float: right;
    }

    .aAnchors {
        display: block;
        text-align: center;
    }

    #menuToggle {
        position: fixed;
        top: -100;
    }
}

/* ======= LOGO ======= */
#logo {
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}

.logoImage {
	height: 50px;
}

.logoImage:hover {
	animation: rotation 5s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(359deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.logoTitle {
	height: 49px;
}

/* ======= SECTION 1 ======= */
.section1 {
    color: white;
    padding: 100px 0px;
}

.section1Left {
    width: 45%;
    display: inline-block;
}

.section1Right {
    width: 53%;
    float: right;
    height: 100px;
}

.section1h1 {
    font-size: 2em;
}

.section1p {
    margin-top: 20px;
    font-size: 1.4em;
}

.section1Image {
    width: 100%;
    border: 2px solid white;
}

@media screen and (max-width: 1100px) {
    .section1 {
        padding: 50px 0px;
	font-size: .8em;
    }
    
    .section1Left {
        width: 100%;
        display: block;
    }

    .section1Right {
        width: 100%;
        float: none;
        margin-top: 20px;
    }

}
