/* ======= GENERAL ======= */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #090000;
    margin-top: 70px;
}

section {
    padding: 30px 0px 0px 0px;
}

#headerContent, .section1, .footerContent {
    max-width: 1000px;
    margin: auto;
    width: 90%;
}

@media screen and (min-width: 1300px) {
    #headerContent, .section1, .footerContent {
        max-width: 1200px;
    }
}

/* ======= SELECTION ======= */
::selection {
    background: #820500;
    color: white;
}

/* ======= TEXT ======= */
.aNone {
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
}

.textp {
    margin-top: 20px;
    font-size: 1.3em;
}

.textlegend {
    font-size: .9em;
    float: right;
}

.texta {
    text-decoration: none;
    color:#ac0600;
}

.texta:hover {
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
    section {
        font-size: .85em;
    }
}

@media screen and (min-width: 1200px) {
    section {
        font-size: 1.15em;
    }
}

/* ======= HEADER ======= */
header {
    background-color: white;
    height: 70px;
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    transition: top 0.3s;
}

.headerAnchors {
    float: right;
}

.aAnchors {
    font-size: 1.3em;
    font-weight: 500;
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    color: #090000;
}

.aAnchors:hover {
    background-color: #820500;
    color: white;
}

.headerHamburger {
    display: none;
    padding: 4.5px;
}

#hamburgerIcon {
    display: block;
    height: 45px;
}

#closeIcon {
    display: none;
    height: 45px;
}

.mobileMenu {
    display: none;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 70px;
    left: 0;
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ .mobileMenu{
    display: block;
}

@media screen and (max-width: 1100px) {
    .headerAnchors {
        display: none;
    }

    .headerHamburger {
        display: block;
        float: right;
    }

    .aAnchors {
        display: block;
        text-align: center;
    }

    #menuToggle {
        position: fixed;
        top: -100;
    }
}

/* ======= LOGO ======= */
#logo {
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}

.logoImage {
	height: 50px;
}

.logoImage:hover {
	animation: rotation 5s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(359deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.logoTitle {
	height: 49px;
}

/* ======= IMAGES ======= */
.textimg {
    border: 2px solid white;
    width: 100%;
    margin-top: 20px;
}

.imagediv {
    display: inline-block;
}

#img1 {
    max-width: 700px;   
}

#img2 {
    max-width: 400px;
}

#img3 {
    max-width: 400px;
    margin-left: 20px;
}

@media screen and (max-width: 920px) {
    #img3 {
        margin-left: 0px;
        display: block;
    }
}

/* ======= SECTION 1 ======= */
.section1 {
    color: white;
}

/* ======= FOOTER ======= */
footer {
    margin-top: 40px;
    background-color: white;
    width: 100%;
    padding: 20px 0px;
}

.footerLogosContainer {
    float: right;
}

.footerLogos {
    width: 38px;
    margin: 11px 5px 0px 5px;
}

.footerLogos:hover {
    filter:  invert(9%) sepia(93%) saturate(3689%) hue-rotate(10deg) brightness(105%) contrast(116%);
}

.footerp {
    vertical-align: middle;
    display: inline-block;
    width: 60%;
    font-weight: 400;
}